/* ----------CSS RESET---------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    font-family: Lato, sans-serif;

}

/*-------------BODY-------------------*/
body {
    background: url(../assets/images/background/beach.webp) no-repeat center center/cover;
    position: relative;
    height: 100vh;
}

/* ------------CONTAINER------------ */
.center {
    margin: auto;
    text-align: center;
}

/* flex and relevant flex settings */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* <--potential redundant */
}

.spread-itms {
    justify-content: space-around;
}

/* ------------STRUCTURES------------ */
#quiz-container {
    padding: 20px;
    border-radius: 5px;
    max-width: 90%;
    max-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    /* cursor:pointer; */
}

.btn:hover {
    background-color: rgb(0, 0, 0, .5);
}

.start-btn {
    /* display: ; */
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.start-btn:hover {
    background-color: pink;
}

/* ------------CONTENT------------ */

/* by element tags */
h1 {
    /* text-align: center; */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f9bc3f;
    text-shadow: 1px 1px 2px #618294, 0 0 1em #8cb5b9, 0 0 0.2em rgb(54, 54, 128);
}

p {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    color: #113850;

}

/* by Id Name */
#question {
    font-size: 24px;
    font-weight: bold;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #ffffff;
    cursor: pointer;
    margin: 5px;
}

.selected {
    border: 2px solid blue;
}

/* by class */

/* ------------SKINS------------ */

.white-black {
    color: white;
    background-color: black;
}

.background-skin {
    background-color: rgba(255, 255, 255, 0.5);
}

.hide {
    display: none;
}