/* ----------CSS RESET---------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*container*/
 /* body {
    display: flex;
    justify-content: center;
 } */

 #quiz-container {
    border: 2px solid black;
    /* position: absolute; */
    height: fit-content;
    width: fit-content;
 }

 /*structure*/
 .center {
     margin: auto;
     /* text-align: justify; */
     /* justify-content: center;
     align-items: center; */
     
 }
 
 .flex {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .column {
     flex-direction: column;
 }

 
 
/*content*/
 
 
 
 /* skins*/ 
 /* 
 .hide {
     display: none;
 } */    